.url-input-section {
  margin: 1rem auto;
  padding: 0 2rem;
  max-width: 1000px;
}

.url-input-section form {
  display: flex;
  height: 50px;
  justify-items: center;
  overflow: hidden;
  border-radius: 3px;
  background: var(--color-light);
  border: 1px solid lightgray;
}

.select-div {
  width: 120px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.select-div select {
  width: 100px;
  font: inherit;
  outline: none;
  border: none;
}

.input-div {
  flex-grow: 1;
}

.input-div input {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  font: inherit;
  border: 1px solid lightgray;
  outline: none;
}

.send {
  width: 100px;
  height: 100%;
  outline: none;
  border: none;
  font: inherit;
  background: var(--color-medium);
  color: var(--color-light);
  cursor: pointer;
}

.send:hover {
  background: var(--color-dark);
  color: var(--color-light);
}
