.req-input {
  margin: 1rem 0;
}

.tab-div {
  display: flex;
}

.btn-tab {
  padding: 0.7rem 1.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  font: inherit;
}

.active {
  background: var(--color-light);
  color: var(--color-dark);
  border-radius: 3px 3px 0 0;
}

.no-active {
  background-color: transparent;
  color: var(--color-light);
}
